@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Prompt",sans-serif;
    background-color: rgb(233, 233, 233);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    text-align: center;
    background-color: rgb(199, 199, 199);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.64);
    width: 90%;
    max-width: 400px;
    min-height: 150px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#advice {
    font-size: 0.875rem; 
    white-space: normal; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    word-wrap: break-word;
    line-height: 1.5; 
    margin-top: 10px;
    max-height: 60px; 
    overflow-y: auto; 
}

h1{
    color:#333;
}
label{
    display: block;
    margin-bottom: 5px;
}

input{
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

textarea{
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    resize: none;
}

button{
    background-color: rgb(101, 99, 99);
    color: white;
    border:none;
    padding: 10px 15px;
cursor: pointer;
border-radius: 4px;
}
button:hover{
    background-color: rgb(67, 64, 64);
    transition: 0.3s ease-in;
}

.hidden {
    display: none;
  }
  
  #results {
    margin-top: 20px;
  }
